<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mocheng.demo.mapper.TestMapper">
	 <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mocheng.demo.model.StudentModel">
        <id column="id" property="id" />
        <result column="age" property="age" />
        <result column="name" property="name" />
    </resultMap>
    
    <insert id="addStudent" >
    	 insert into student (name,age) values('zhangsan',3);
    </insert>
   
    <select id="getList" resultMap="BaseResultMap">
		select  * from student
    </select>

</mapper>
