<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mocheng.demo.mapper.TestMapper">

    
    <select id="addStudent" >
    	 insert into student (name,age) values('zhangsan',3);
    </select>

</mapper>
